@model Nhom69MidTermDotNet.Models.NhanVien

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNv" />
            <div class="form-group">
                <label asp-for="Hoten" class="control-label"></label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPb" class="control-label"></label>
                <select asp-for="MaPb" class="form-control" asp-items="ViewBag.MaPb"></select>
                <span asp-validation-for="MaPb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongCb" class="control-label"></label>
                <input asp-for="LuongCb" class="form-control" />
                <span asp-validation-for="LuongCb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
